OMNI_BASE_URL=https://dev.omnihubs.cloud/
OMNI_DEFAULT_TIMEOUT=20000
OMNI_HEADLESS=true

OMNI_ACCOUNT_USERNAME=testuser01
OMNI_ACCOUNT_PASSWORD=testuser01

OMNI_ENTRA_USERNAME=omnitest3@cathlife.symphox.com
OMNI_ENTRA_PASSWORD=Omni168168168

OMNI_GOOGLE_USERNAME=
OMNI_GOOGLE_PASSWORD=
